/* Page base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body {
    background: #6f6272;
    color: white;
}

/* NAV */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 28px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.logo img {
    width: 36px;
    height: 36px;
}

.home-btn {
    padding: 8px 16px;
    background: black;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
}

/* RESULT BOX */
.result-container {
    width: 85%;
    margin: 70px auto;
    background: rgba(0,0,0,0.1);
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);

    display: flex;                  /* NEW */
    justify-content: space-between; /* NEW */
    align-items: center;            /* NEW */
}


/* Text */
.result-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.predicted {
    font-size: 26px;
    margin-bottom: 25px;
}

/* LEFT TEXT CONTENT */
.result-text {
    flex: 1;
}

/* Chart box */
.chart-box {
    width: 260px;
    height: 260px;
    background: #c0bcc4;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 180px;
    height: 180px;
    background: #734281;
    border-radius: 50%;
}
.description {
    margin-top: 20px;
    font-size: 18px;
    max-width: 600px;
    line-height: 1.5;
}


/* Chart box */
.chart-box {
    width: 260px;
    height: 260px;
    background: #c0bcc4;
    border-radius: 25px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 180px;
    height: 180px;
    background: #734281;
    border-radius: 50%;
}

/* Accuracy */
.accuracy-title {
    margin-top: 50px;
    font-size: 18px;
}

.accuracy-value {
    margin-left: 30px;
    margin-top: 5px;
    font-size: 18px;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
    margin-top: 80px;
}

.footer-left h3 {
    margin-bottom: 8px;
}

.footer-left p {
    max-width: 260px;
    margin-bottom: 20px;
}

.socials span {
    margin-right: 18px;
    font-size: 20px;
    cursor: pointer;
}

.footer-links {
    display: flex;
    gap: 80px;
}

.footer-links h4 {
    margin-bottom: 10px;
}

.footer-links p {
    margin-bottom: 6px;
}