*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, system-ui, Arial;
}

body{
    background: #6f6272;
    padding: 20px;
    color: white;
}

/* Nav */
.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo{
    width: 38px;
}
.logo {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;   
}

.logo span {
    cursor: pointer;
}

.logo:hover {
    opacity: 0.8;
}
.nav-btn{
    background: black;
    color: white;
    padding: 8px 18px;
    border-radius: 8px;
    text-decoration: none;
}

/* Question Layout */
.question{
    font-size: 1.2rem;
}
.dropdown-box select {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: #673AB7;
    color: #ffffff;
}
.question-wrapper{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    height: 85vh;
    overflow-y: auto;
    padding-right: 20px;
}

.question-box{
    background: rgba(0,0,0,0.2);
    padding: 24px;
    border-radius: 22px;
}
.question-box input{
    width: 100%;
    margin-top: 12px;
    padding: 12px;
    border-radius: 22px;
    border: none;
    background: rgba(255,255,255,0.5);
}

.submit-btn{
    margin-top: 20px;
    align-self: flex-end;
    background: #0b0b0b;
    color: white;
    padding: 12px 22px;
    border-radius: 8px;
    border: none;
}

/* Likert Question Layout */
.section-header {
    background-color: #673AB7;   /* Purple shade */
    color: white;
    padding: 14px 20px;
    border-radius: 10px 10px 0 0;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 30px;
}

.likert-question{
    background: rgba(0,0,0,0.2);
    padding: 24px;
    border-radius: 22px;
    margin-bottom: 24px;
}

.question-text{
    font-size: 18px;
    margin-bottom: 16px;
}

.likert-scale{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label-left, .label-right{
    width: 120px;
    text-align: center;
    font-size: 14px;
    color: #e0e0e0;
}

.options{
    display: flex;
    gap: 150px;   
    justify-content: center;
}

.options label{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.options label span{
    font-size: 14px;
    color: white;
}

.options input[type="radio"]{
    width: 20px;
    height: 20px;
    accent-color: #a27ebd;
}
.submit-btn {
    display: block;           
    margin: 30px auto;        
    
    padding: 14px 35px;      
    font-size: 1.1rem;      
    font-weight: bold;

    background-color: #673AB7;  
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    transition: 0.2s ease;
}

.submit-btn:hover {
    background-color: #5e33aa;  
    transform: scale(1.02);transform: scale(1.02);
}